<div class="news_image">
							   <div class="image">

									   <%= image_tag "#{news.news_image}", :width=>"95",:height=>"92"%>

								    </div>
									<div class="news_text">
										<div class="strong">
											<strong>
									         <p><%= news.news_title%></p>
									      </strong>
										</div>		<!--end of strong-->


									<div class="latest_news">
												<p>
									          <p><%= news.news_desc%></p>

												</p>
									</div>		<!--end of latest-news-->
										<div class="read_more">
											<a href="/pages/events"><strong>read more</strong></a>
										</div>		<!--end of strong-->

								</div>	<!--end of news_text-->
									</div>		<!--end of news_image-->
