<div class="news_image">
							   <div class="image">

									   <%= image_tag "#{news.news_image}", :width=>"95",:height=>"92"%>

								    </div>
									<div class="news_text">
										<div class="strong">
											<strong>
									         <h2><%= news.news_title%></h2>
									      </strong>
										</div>		<!--end of strong-->


									<div class="latest_news">
												
									          <p><%= news.news_desc%></p>

												
									</div>		<!--end of latest-news-->
										<div class="read_more">
											<a href="/pages/events"><span>Read More</span></a>
										</div>		<!--end of strong-->

								</div>	<!--end of news_text-->
									</div>		<!--end of news_image-->
