<div id="wrapper">
 <%= render 'navigation'%>
		<div id="text">
			<p> We can't do it alone. With your help we can really turn up the volume and make our voices heard by the people with the heart to change things.
				Our main objective is to try to amend these helpless, incapacitated and deprived children. Your help and support will certainly make better future of these wonderful souls.</p>
		</div>
		<div>
			<form>
					<p>
						<label class="name"> First Name:</label>
						<input id="name" type="text">
					</p>
					<p>
						<label class="name">Last Name:</label>
					<input id="name" type="text">
					</p>
					
					<p>
							<label class="name">E-mail Address:</label>
							<input id="number" type="text" name="number">
					</p>
					
					<p>
							<label class="name">Permanent Address:</label>
							<input id="address" type="text">
					</p>
					
					<p>
							<label class="name">Temporary Address:</label>
							<input id="address" type="text">
					</p>
					<p>
							<label class="name">Mobile Number:</label>
							<input id="number" type="text" name="number">
					</p>
					
					<p>
							<label class="name">Telephone Number:</label>
							<input id="number" type="text" name="number">
					</p>
					
					
					
					<p>
						<label class="name">Nationality:</label>
						<input id="citizen" type="text">
					</p>
					
					
					<p>
						<label class="name">comment:</label><br/>
						<textarea name="comment" rows="8" cols="44"></textarea>
					</p>
		</div>			
			<div id="buttons">
				<input type="submit" name="Submit" value="Submit">
				<input type="reset" value="Reset">
			</div>
</div>	
