<div id="wrapper">
 <%= render 'navigation'%>
		<div class="boardmember_title" style="background-color:#FCC956;">
				<p>contact us</p>
		</div>
		<div class="news_events_border">
					<div id="contact_title">
					</div>
					<div id="contact_content">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
					</div>
					<div class="contact_information">
							<h1>malai nabirsue bal griha</h1>
							
							<label for="phone" class="contact_label">Phone:-</label>
							<label for="email" class="contact_label">Email:-</label>
							<label for="address" class="contact_label">Adress:-</label>
					</div>
					<div id="contact_button">
							<input type="submit"  value="Contact Button" class="button_contact">
			</div>
		</div>
			
</div>	
