<div id="wrapper">
 <%= render 'navigation'%>
		<div class="boardmember_title" style="background-color:#FCC956;">
				<p>contact us</p>
		</div>
		<div class="contact_us_title">
				<div class="contact_us">

							

							<label for="phone" class="contact_label">Phone:-&nbsp;&nbsp;&nbsp;&nbsp;<span>+977-014462457</span></label>
							<label for="email" class="contact_label">Email:-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>forgetmenot_1@hotmail.com</span></label>
							<label for="address" class="contact_label">Adress:-&nbsp;&nbsp;&nbsp;&nbsp;<span>Mitteri Marg, Old Baneswor</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kathmandu, Nepal</span></label>
</div>

					<div id="contact_title">
					</div>
					<div id="contact_content">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
					</div>
				
					
</div>
			<div class="line_image_border1"> </div>

		</div>

</div>
<%= render 'lowercontent'%>
<%= render 'footer'%>
