<div id="wrapper">
 <%= render 'navigation'%>
	<%= image_tag "donate_large.png",:class=>"donatelarge_image" %>
		<div id="text">
			<p> We can't do it alone. With your help we can really turn up the volume and make our voices heard by the people with the heart to change things.
				Our main objective is to try to amend these helpless, incapacitated and deprived children. Your help and support will certainly make better future of these wonderful souls.</p>
		</div>
		<div>
			<form>
					<p>
						<label for="name"> First Name:</label>
						<input id="name" type="text">
					</p>
					<p>
						<label for="name">Last Name:</label>
					<input id="name" type="text">
					</p>
					<p>
							<label for="date">Today's date</label>
							<select name="day">
							<option value="1">1 </option>
							<option value="2">2</option>
							<option value="3">3 </option>
							<option value="4">4 </option>
							<option value="5">5 </option>
							<option value="6">6 </option>
							<option value="7">7 </option>
							<option value="8">8 </option>
							<option value="9">9 </option>
							<option value="10">10 </option>
							<option value="11">11 </option>
							<option value="12">12 </option>
							<option value="13">13 </option>
							<option value="14">14 </option>
							<option value="15">15 </option>
							<option value="16">16 </option>
							<option value="17">17 </option>
							<option value="18">18 </option>
							<option value="19">19 </option>
							<option value="20">20 </option>
							<option value="21">21 </option>
							<option value="22">22 </option>
							<option value="23">23 </option>
							<option value="24">24 </option>
							<option value="25">25 </option>
							<option value="26">26 </option>
							<option value="27">27 </option>
							<option value="28">28 </option>
							<option value="29">29 </option>
							<option value="30">30 </option>
							<option value="31">31 </option>
							<option value="32">32 </option>
						</select>
						<select name="month">
							<option value="1">January </option>
							<option value="2">February </option>
							<option value="3">March </option>
							<option value="4">April </option>
							<option value="5">May </option>
							<option value="6">June </option>
							<option value="7">July </option>
							<option value="8">August </option>
							<option value="9">September </option>
							<option value="10">October </option>
							<option value="11">November </option>
							<option value="12">December </option>
						</select>
						<select>
							
							<option value="2000">2012</option>
							<option value="2001">2013</option>
							<option value="2002">2014</option>
							<option value="2003">2015</option>
							<option value="2004">2016</option>
							<option value="2005">2017</option>
							<option value="2006">2018</option>
							<option value="2007">2019</option>
							<option value="2008">2020</option>
							<option value="2009">2021</option>
							<option value="2010">2022</option>
							<option value="2011">2023</option>
							<option value="2012">2024</option>
							<option value="2012">2025</option>
						
						</select>
					</p>
					
					<p>
						<label for="citizen">Nationality:</label>
						<input id="citizen" type="text">
					</p>
					
					<p>
							<label for="citizenship">E-mail Address:</label>
							<input id="number" type="text" name="number">
					</p>
					
					<p>
							<label for="address">Permanent Address:</label>
							<input id="address" type="text">
					</p>
					
					
					
					<p>
							<label for="telephone">Telephone Number:</label>
							<input id="number" type="text" name="number">
					</p>
					
					<p>
							<label for="mobile">Mobile Number:</label>
							<input id="number" type="text" name="number">
					</p>
					
					<p>
							<label for="marital">Marital Status:</label>
							<select name="marital">
							<option>Single</option>
							<option>Married</option>
							</select>
					</p>
					
					<p>
						<label for="mobile">How would you like to utilize your donation?</label><br/>
						<textarea name="comment" rows="8" cols="44"></textarea>
					</p>
		</div>			
			<div id="buttons">
				<input type="submit" name="Submit" value="Submit">
				<input type="reset" value="Reset">
			</div>
</div>	
