<div id="wrapper">
 <%= render 'navigation'%>
		
<div id="debit">
			<p>For CHILD SPONSORSHIP NEPAL</p>
				<strong>Donate Now:</strong>&nbsp;Malai Nabirsue Bal Griha of Nepal(MNBG Nepal)</br>
						</br>
						
						<span>Description:  &nbsp;Your name and Children's name</span></br>
				<strong>By Cheque directed to:</strong> &nbsp;MNBG Nepal<br>
				
</div>
				</div>
		</div>
</div>
 <%= render 'lowercontent'%>	
<%= render 'footer'%>
