<div id="wrapper">
 <%= render 'navigation'%>
		
			<div id="donate_content">
					<div id="donate_text">
							<h1>MAKE A DONATION</h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
					</div>
					<div id="donate_education">
					<div class="general_donation">
						<h1>General Donation</h1>
							
					</div>
						<div class="general_donation_text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
						</div>
					</div>
					<div id="donate_education">
					<div class="general_donation" style="background-color:#ecc568;">
						<h1 style="color:#f36363;"> Education Donation</h1>
							
					</div>
						<div class="general_donation_text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
						</div>
					</div>
						
				<div id="donate_education">			
					<div class="general_donation" style="background-color:#f1f1f1;">
						<h1 style="color:#ecc568;">Medical Donation</h1>
							
					</div>
						<div class="general_donation_text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
						</div>
					</div>
					<div id="donate_education">
					<div class="general_donation" style="background-color:#43b3e1;">
						<h1 style="color:#efffff;">Sponsor A Child</h1>
					</div>
						<div class="general_donation_text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
						</div>
			</div>
					</div>
			</div>
</div>
<%= render 'image_slider'%>
 <%= render 'lowercontent'%>	
<%= render 'footer'%>
