<div id="wrapper">
 	<%= render 'navigation'%>

				<div class="boardmember_title" style="background-color:#2CB68C;">
						<p>Gallary</p>
				</div>
							<div class="gallary_border">
							
									<div id="gallary_content">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
									</div>

									<div class="holidays">
											<a href="#"><h1>link to holiday snaps</h1></a>
									</div>

									<div class="events">
											<a href="#"><h1>link to event pictures</h1></a>
									</div>
						</div>
</div>
