<div id="wrapper">
		<%= render 'navigation'%>
			<div id="main_getinvolved">


  <!--text slider-->
       <div id="slider_get">
          <ul class="navigation">
              <li><a href="#files" class="getinvolved_volunteer"></a></li>
              <li><a href="#editor" class="getinvolved_campaign"></a></li>
              <li><a href="#preview" class="getinvolved_fundraise"></a></li>
              <li><a href="#css" class="getinvolved_donate"></a></li>

            </ul>
<!-- element with overflow applied -->
            <div class="scroll">
             <!-- the element that will be scrolled during the effect -->
            <div class="scrollContainer">
    <!-- our individual panels -->
            <div class="panel" id="files">
                                  <h1 class="volunteerh1">volunteer</h1> <p>Already here in our organization we have been incredibly fortunate to have caring and concerned people from all walks of life volunteer to join our team to make a difference for the children in our care. But, we need more help. We have been assigning interested volunteers to dedicate their concern towards these children and help us provide full fletched facility to all the children and run this organization within possible low operating cost. Since our main focus is the development of these lonely children to give them a family , love, care, education and moreover a shelter where they can share their feelings with us and each other.</p> </div>
                                  <div class="panel" id="editor"> <h1 class="campaignh1">campaign</h1><p>We are planning in creating an awareness that would avoid stigmatizing on these children. .The project purpose should include improving the quality of life of orphans not only in Malai Nabirseu Bal Griha but also throughout the country which would involve networking with other non-governmental & non-profit organizations to fight against stigmatization against these children. There should be plans in addition, to enroll these orphans in schools, health care programs, and vocational training. Identify existing community support structures and strengthen their ability to care for orphans and vulnerable children. </P> </div>

                                  <div class="panel" id="preview">  <h1 class="fundraiseh1">fundraise</h1><p>We need your help in soliciting and gathering voluntary contributions as money or other resources, by requesting donations from individuals, businesses, charitable foundations, or governmental agencies. We believe that people with heart are always interested in raising a funds for the betterment of these children. Organization and social events and charity events would definitely help in promoting the healthy lifestyle of these helpless and vulnerable orphans. But, we need your help. </p> </div>
                                  <div class="panel" id="css"> <h1 class="donateh1">donate</h1> <p>We are sincerely grateful for all the donations and individual sponsors who have supported Malai Nabirseu Bal Griha since it began. We would not be where we are today without your support, kindness and generosity. </br>Malai Nabirseu Bal Griha requires additional ongoing support to continue its work in the community Nabirseu help these children and projects by providing us through financial aid. With your help we can really turn up the volume and make our voices heard by the people with power to change things. We are passionate about doing all we can to children that are helpless and vulnerable. </p><a href="/pages/donate" class="get_involved_button"></a></div>

</div>
                                </div>

                              </div>

<div id='content'>
            <a href="#" class="getinvolved_newsletter" id="button"></a>
<%= render 'newsletter'%>

			</div>
<div class="line_image_border">
</div>

</div>

</div>


 <%= render 'lowercontent'%>
<div id="getinvolved_bottom_border">
</div>
<%= render 'footer'%>
