<div id="main_wrapper">
      <%= render 'banner'%>
	 	  <%= render 'maincontent'%>
			<%= render 'image_slider'%>
		<div id="main_activities">
				<div id="activities">
							<div class="sub_activities">
							</div>	<!--end of sub_activities-->
				</div>		<!--end of activities-->
				<div id="activities">
							<div class="sub_activities">
									<div class="activities_text">
											<h1>GET INVOLVED</h1>
									</div>	<!--end of activities_text-->
							</div>	<!--end of sub_activities-->
				</div>		<!--end of activities-->
				<div id="activities">
							<div class="sub_activities">
							</div>	<!--end of sub_activities-->
				</div>		<!--end of activities-->
		</div>		<!--end of main_activities-->
 </div>     <!--end of main_wrapper-->		
