<div id="wrapper">
	<%= render 'navigation'%>
</div>
<div id="site_map_content">
		<div id="site_map">

			<h1> site Map</h1>
		</div>
<div id="site_map_home">
		<div class="site_map_home_content">
				<ul>
						<h2>home</h2>
						<li><a href="/pages/index">home</a></li>
						<li><a href="/pages/about_us">about us</a></li>
					<ul style="list-style:square;">
							<li><a href="/pages/about_us" class="site_vision">introduction</a></li>
							<li><a href="/pages/about_us" class="site_vision">our vision</a></li>
							<li><a href="/pages/about_us" class="site_vision">our history</a></li>
							<li><a href="/pages/about_us" class="site_vision">board members</a></li>
					</ul>
						<li><a href="/pages/get_involved">get involved</a></li>
					<ul style="list-style:square;">
							<li><a href="/pages/get_involved#files" class="site_vision">volunteer</a></li>
							<li><a href="/pages/get_involved#editor" class="site_vision">campaign</a></li>
							<li><a href="/pages/get_involved#preview" class="site_vision">fundraise</a></li>
							<li><a href="/pages/get_involved#css" class="site_vision">donate</a></li>
							<li><a href="/pages/get_involved#" class="site_vision">newsletter</a></li>
					</ul>
						<li><a href="/pages/chidren">children</a></li>
						<li><a href="/pages/events">events</a></li>
						<li><a href="/pages/what_we_do">what we do</a></li>
					<ul style="list-style:square;">
							<li><a href="/pages/what_we_do" class="site_vision">orphan home projects</a></li>
							<li><a href="/pages/what_we_do" class="site_vision">education and health</a></li>
							<li><a href="/pages/what_we_do" class="site_vision">our partner</a></li>
					</ul>
						<li><a href="/pages/donate">donate</a></li>
					<ul style="list-style:square;">
							<li><a href="/pages/donate#" class="site_vision">donation</a></li>
							<li><a href="/pages/donate#" class="site_vision">sponsor</a></li>
					</ul>
						<li><a href="/pages/contact">contact</a></li>
						<li><a href="/pages/events">latest news</a></li>
				</ul>
		</div>
</div>
<div class="line_image_border1"> </div>
</div>
<%= render 'lowercontent'%>
 			<%= render 'footer'%>
