


#aboutus_title{
		display:block;
		width:auto;
		float:left;
}

#aboutus_content label {
		border-top:5px solid #f36363;
    display: block;
    font-size: 24px;
    width: auto;
		float: left;
		font-weight:bold;
		color:#f36363;
}

#aboutus_content p{
				display: block;
				color:#777978;
				font-size: 14px;
				text-align:justify;
				line-height:20px;
				margin:5px 0;
 			  font-family: Helvetica,Arial,sans-serif;
    		font-style: normal;
    		font-weight: normal;
    		letter-spacing: normal;
				float:left;
}






#vision_title, #history_title{
    display:block;
		width:auto;
		float:left;
}


#ourvision, #ourhistory, #aboutus_content{
		display:block;
		margin:30px 0 0 0;
		float:left;
}

#ourvision h1 {
		border-top:5px solid #40b4e3;
    display: block;
    font-size: 24px;
    width: auto;
		float: left;
		font-weight:bold;
		color:#40b4e3;
}




#ourhistory h1 {
		border-top:5px solid #fcc956;
    display: block;
    font-size: 24px;
    width: auto;
		float: left;
		font-weight:bold;
		color:#fcc956;
}





#ourvision p, #ourhistory p{
			display: block;
			color: #777978;
			font-size: 14px;
			font-family: Helvetica,Arial,sans-serif;
    	font-style: normal;
    	font-weight: normal;
    	letter-spacing: normal;
			line-height:20px;
			float:left;
}

.boardmember_title{
		display: block;
    width: 960px;
		float:left;
		background-color:#f36363;
		margin:30px 0 0 0;
		
}

.boardmember{
		display: block;
		width:958px;
		float:left;
		border:1px solid #ddd;
		border-top:none;
}

.profile{
			display:block;
			width:958px;
			padding:20px 0 0 0;
			float:left;
}



.boardmember_profile1{
	display:block;
	float:left;
	width:439px;
	padding:20px;
}


.boardmember_profile2{
	display:block;
	
	width:439px;
	padding:20px;
float:left;
}



.boardmember_title p{
		display: block;
		font:bold 25px "arial";
		color:#fff;
		padding:10px;
}

#profile_title{
				display: block;
				width:958px;
				float:left;
}




.board_image{
			display:block;
			float:left;
			
}

.board_name{
		width:160px;
		height:116px;
		display:block;
		
}

.board_text{
		display: block;
		float:left;
		width:250px;
		margin: 0 0 0 15px;
}


.experience{
			float:right;
			width:160px;
}
.name1{
	display:block;
	width:90px;
	color: #545D5C;
	float:left;
}

.line2_image{
		margin:30px 0 ;
}



