#aboutus_content {
    background-color: #A6A3A3;
    border-radius: 5px 5px 5px 5px;
    display: block;
    padding: 15px 20px 10px 15px;
}
#aboutus_content label {
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    padding-right: 6px;
    width: auto;
		float: left;
		font-weight:bold;
}

#aboutus_content p{
				display: block;
				color:#6B6B6B;
				font-size: 14px;
				text-align:justify;
				line-height:27px;
				margin:5px 0;
 			  font-family: Helvetica,Arial,sans-serif;
    		font-style: normal;
    		font-weight: normal;
    		letter-spacing: normal;
}


.text_1{
			display: block;
			margin: 5px 0 0 280px;
			color: #c6c6c6;
			font-size: 16px;
}

.text_2{
		display: block;
		margin: 0px 0 0 0px;
		color: #c6c6c6;
		font-size: 16px;	
}


.text_3{
		display: block;
		margin: 0px 0 0 285px;	
		color: #c6c6c6;
		font-size: 16px;
}

.text_4{
		display: block;
		margin: 0px 0 0 380px;
		color: #c6c6c6;	
		font-size: 16px;
}

#ourvision {
    background-color: #42B2E0;
    border-radius: 10px;
    display: block;
    float: left;
    margin: 50px 0 0 61px;
    width: 899px;
	
}


#ourhistory{
			display: block;
			margin: 50px 0 0 61px;
			width:899px;
 			background-color:#f7ca53;
			border-radius: 10px;
			float:left;
			
}

.vision_image{
    display: block;
    height: 49px;
    width: 196px;
    background:url("our_Vision_Title.png") no-repeat center #42b2e0;
		border-radius:5px;
		box-shadow: 2px 4px 5px #888888;
		z-index:1;
		position:relative;
		left:-61px;
}




.history_image {
   display: block;
    height: 49px;
    width: 196px;
    background:url("our_History_Title.png") no-repeat center #f7ca53;
		border-radius:5px;
		box-shadow: 2px 4px 5px #888888;
		z-index:1;
		position:relative;
		left:-61px;
}


.our_History_Title{
		display:block;
		width:133px;
		height:18px;
}

.vision_text,.history_text{
			display: block;
			padding: 0px 20px 15px 20px;
			margin:-40px 0;
}


.vision_text p,.history_text p{
			display: block;
			color: #fff;
			font-size: 17px;
			font-family: Helvetica,Arial,sans-serif;
    	font-style: normal;
    	font-weight: normal;
    	letter-spacing: normal;
			line-height:35px;
}

#boardmember{
		display: block;
		width:960px;
		
		float:left;
		margin:100px 0;
		border-radius:10px;
}

#profile{
			display:block;
			width:960px;
			border-top:5px solid #808080;
			padding-top:20px;
}

.boardmember_image{
			width:196px;
			height:49px;
			display: block;
			position:relative;
			bottom:35px;
			left:-2px;
			z-index:1;
}

.boardmember_profile{
				display: block;
				width:480px;
				height: 150px;
				float:left;
				
}

.board_image{
			display:block;
			float:left;
			
}

.board_name{
		width:180px;
		height:116px;
		display:block;
		
}

.board_text{
		display: block;
		float:left;
		width:250px;
		margin: 0 0 0 15px;
}


.experience{
			float:right;
			width:160px;
}
.name1{
	display:block;
	width:90px;
	color: #545D5C;
	float:left;
}

#line_image{
		display:block;
		width:960px;
		height:12px;
}



