#banner{
			height:460px;
      width:100%;
			border-bottom:4px solid #eaebed;
}


#wrapper,#main_activities{
					width: 960px;
					margin: 0 auto;
					
}
#main_nav{
    margin:50px 0 0 0;
}




.title_image{
				float:right;
}



.donate_img{
    float:right;
}



#nav{

   box-shadow:0px 0px 10px 0px #767676; 
	 border-radius:5px;
   float: right;
   height: 48px;
   margin-right: 20px;
   width:500px;
}


#nav ul{
		list-style: none;
}

#nav li{
		display: inline;
		padding:15px 0 0 25px;
}				
#nav a{
		text-decoration: none;
    color:#767676;
    font:bold 13px 'arial',serif;
       
}

#nav a:hover{
		color: #e03d42;
}



#mnbg{
			margin: 10px 0 0 20px;
}

#title {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 142px;
    margin-top: 195px;
    opacity: 0.9;
    width: 560px;
 		overflow:hidden;
}


#title p{
				margin: -5px 20px 0px 20px;
				text-align: justify;
				color:#b7b7b7;
				font-size:14px;
	
 
}
