#banner{
			height:500px;
      width:100%;
			border-bottom:4px solid #eaebed;

			float:left;
			display:block;
			background:black;
}

#navigation{
  width:100%;
  display:block;
  background:#fff;
  height:100px;
  margin:30px 0 0 0;
}

#navigation_content{
 width:960px;
 margin:0 auto;
}
#main_nav{
		margin:50px 0 0 0;
    position:relative;

}

				

.title_img {
    float: right;
    margin: 10px 40px 0 0;
}



.donate_img{
    float:right;
    margin:20px 0 0 0;
}



#nav {
    float: right;
    height: 103px;
    width: 508px;
		background: url('menu_Bg.png')no-repeat;
}

#nav ul{
		list-style: none;
		margin-top: 30px;	
}

#nav li{
		display: inline;
		padding:15px 0 0 25px;
}				
#nav a{
		text-decoration: none;
    color:#767676;
    font:bold 13px 'arial',serif;
       
}

#nav a:hover{
		color: #e03d42;
}



#mnbg{
			margin: 10px 0 0 20px;
}

#title {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 142px;
    margin-top: 195px;
    opacity: 0.9;
    width: 560px;
 		overflow:hidden;
}


#title p{
				margin: -5px 20px 0px 20px;
				text-align: justify;
				color:#b7b7b7;
				font-size:14px;
	
 }
