#child {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 12px 0 #888888;
    display: block;
    height: 640px;
    margin: 30px auto;
    width: 960px;
}



#children_content {
    display: block;
    float: left;
    margin: 0px 0 0 20px;
    width: 420px;
}

#children_content ul{
				background: #c6c6c6;
				list-style:none;
				border-radius: 10px;
				height: 115px;
				display: block;
				overflow: hidden;
}





#children_content h1 {
		display: block;
    border-bottom: 2px solid #a6a4a5;
    margin: 10px 7px 0 -30px;
		color: #fffeff;
}

#children_content li p {
						display: block;
						margin: 5px 0 0 -30px;
						font: 12px/18px "arial";
						color: #6f6f6f;

}

.leftbutton{
				width: 70px;
				height: 75px;
				float: left;
				display:block;
}


.rightbutton{
				width: 70px;
				height: 75px;
				float: right;
				display:block;
}


#children_image {
		display: block;
    border-top: 22px solid #F36363;
    float: right;
    margin: 25px 25px 0 0;
    width: 470px;
}


.alisha_image{
					display: block;
					width: 470px;
					height: 290px;
					margin-top: 20px;
}

#image_text{
		display:block;
		overflow:hidden;
}

#image_text h1{
				display: block;
				font-size: 15px;
				color:#f65f66;
}

#image_text p{
			display: block;
			font: 12px/18px "arial";
			font-size:14px;
			color: #6f6f6f;
}

.readmore{
			display: block;
}
