

#contact_title{
	display:block;
	width:409px;
	height:33px;
	background:url('malaiNabirseuBalGriha_Img.png') no-repeat left top;
	margin:20px 0 0 0;
	float:left;
}

#contact_content{
	display:block;
	width:918px;
	float:left;
	margin:20px 0 0 0px;
}

.contact_information{
	display:block;
	float:left;
	margin:20px 0 0 0;
}

.contact_information h1{
	display:block;
	float:left;
	font:24px "arial";
	text-transform:uppercase;
}

.contact_label{
	display:block;
	float:left;
	width:100%;
}

#contact_button{
	display:block;
	margin:20px 0 0 0;
	float:left;
	width:100%
}

.button_contact{
	display:block;
	float:right;
}

