.contact_border{
		display:block;
		width:960px;
		float:left;

}


.contact_us_title{
	display:block;
	float:left;
	width:920px;
	margin:20px 20px 0 20px;
}

#contact_title{
	display:block;
	width:409px;
	height:33px;
	background:url('malaiNabirseuBalGriha_Img.png') no-repeat left top;
	float:left;
}

#contact_content p{
	
	float:left;
	font:12px/18px "arial";
	color:#777978;
}

#contact_content{
	display:block;
	float:left;
	margin:20px 0 0 0px;
	width:409px;
}

.contact_us{
	display:block;
	float:left;
	width:511px;
	
	
}

.contact_us label{
	width:100%;
	float:left;
	color:#f36363;
	font-size:25px;
	line-height:35px;
}


.contact_us span{
	color:#777978;
}







