
.news_events_border{
		display:block;
		width:918px;
		padding:20px;
		border:1px solid #ddd;
		border-top:none;
		float:left;
}


.news_events_border h1{
		display:block;
		padding:20px 0 20px 0;
}

.news_events_content{
	display:block;
	float:left;
	width:918px;
	background:url('line.png') no-repeat bottom;
	
}

.news_events_text{
		display: block;
		float:left;
		width:588px;
		margin: 0 0 40px 20px;
		min-height:116px;

}

.news_events_text p{
		display: block;
		color:#777978;
		font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 16px;
		width:738px;
		height:111px;
}


.news_events_image{
			display:block;
			float:left;
			width:160px;
			float:left;
}

.news_events_name{
		width:160px;
		height:116px;
		display:block;
		float:left;
		
		
}
