
#footer{
  float:left;
  display:block;
  width:100%;

	background:#393939;
	border-top:5px solid #c7c5c6;

	padding:0 0 0 0 !important;
}


#footer_content{
  margin:0 auto;
  width:960px;
}



#main_footer{
display:block;
margin:10px 0 0 0;
float:left;

}

#main_footer ul {
    float: left;
    list-style: none outside none;
    padding-bottom: 4px;
    padding-top:4px;

    width: 255px;
}


#main_footer a{
  color:#909090;
  font-size:12px;
	text-decoration:none;

}





#main_footer .text{
  font-size:13px;
  color:#b8b4a8;
	font-weight:bold;
}


#main_footer .text:hover{
color:#f36363;
}

#main_footer a:hover{
			color:#fff;
}



#copyright_footer{
    float:left;
	  display:block;
	  width:100%;
		background:#1b1b1b;
		height:35px;
}


#sub_footer{
   margin:0 auto;
	 width:960px;
}


#sub_footer span{
   color:#3c3c3c;
	 font-size:12px;

}


#powered_by{
   width:285px;
	 display:block;
   float:left;
padding:10px 0 7px 0;
}
#owner{

	 display:block;
   float:left;
	 padding:10px 0 7px 0;
	 margin:0 0 0 92px;
}
#contact{

	 display:block;
   float:right;
	 padding:10px 0 7px 0;
}


#powered_by a{
  text-decoration:none;
  color:#3c3c3c;
}

#footer_link{
  width:765px;
  float:left

}
#social_network{
  height:68px;
  width:150px;
  float:left;

}
.facebook {
    background: url("socialNetwork_Btn.png") no-repeat scroll left top transparent;
    display: block;

    height: 34px;
    width: 150px;
}
.twitter {
    background: url("socialNetwork_Btn.png") no-repeat scroll left bottom transparent;
    display: block;

    height: 34px;
    width: 150px;
}

#powered_by a:hover{
 color:#fff;
}


.site{
  float:left;
}

.site span{
margin:0 0 0 3px;

}

.site a{
		text-decoration: none;
		color:#3c3c3c;
}


.site a:hover{
				color:#fff;

}



.img{
  margin:0 0 0 28px;
}
