#main_getinvolved{
  width:960px;
  margin:0 auto;
	margin-top: 35px;
}



#getinvolved_image{
  float:left;
	display:block;
	height:500px;
	width:301px;
	margin-right:58px;
}

#getinvolved_text{
				display: block;
				width: 601px;
				height:500px;
				float:left;
}

#getinvolved_text h1{
				display: block;
				color: #2394B8;
				font-size: 40px;
				padding: 10px 0 0 0;
}


#getinvolved_text p{
				display: block;
				color: #cacaca;
				font-size: 20px;
				padding: 20px 0 0 10px;
}

.news1_image{
			display:block;
			margin: 20px;
}


#getinvolved_bottom_border{
				display: block;
				width:100%;
				height:41px;
				background-color:#42b2e0;
				float:left;
}










/*-----css of lowercontent-----*/

#get_involved {
    background-color: #FFFFFF;
    display: block;
    float: left;
    width: 310px;
    height: 350px;

}

.get_involved_title{
    border-bottom: 5px solid #CFCFCF;
    padding: 15px 0 10px 25px;
    width:285px;
    height:25px;
    display:block;
    float:left;
}



#get_involved_content{
	  display: block;
    float: left;
    height: 350px;
    width: 310px;

}



#get_involved_image{
						background:url('aaa.png') no-repeat left top;
						width:280px;
						height:290px;
						display:block;
						padding:0px 15px;
						float:left;
}


#get_involved_text {
     width: 260px;
    display:block;
    background-color:#efefef;
    opacity: 0.85;
    margin:10px 0 0 0;
  padding:8px 10px 10px 10px;
cursor:default;
}



#get_involved_text:hover{
				background-color:#efefef;
				opacity:1;
}





#get_involved_text p {
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
letter-spacing: normal;
line-height: 22px;
color: #42B2E0;



}

.add_block{
width:635px;
height:250px;
display:block;

margin:15px 0 0 0;
float:left;
}

.add_block_content1,.add_block_content2{
		width:201px;
		height:248px;
		display:block;
		margin:0 15px 0 0;
		float:left;
		background-color:#fff;
		 box-shadow: 0 0 13px 0 #767676 inset;
	  -webkit-box-shadow: 0 0 13px 0 #767676 inset;
		-moz-box-shadow: 0 0 13px 0 #767676 inset;

}



.add_block_content3{
		width:201px;
		height:248px;
		display:block;
		margin:0 0px 0 0;
		float:left;
		background-color:#fff;
		box-shadow:0 0 13px 0 #767676 inset;

}

.sub_content{
			height: 360px;
			width:300px;
			background-color: #deeff6;
			float: left;
}


.signup {
    margin: 22px 0px 0px 0px;
    display:block;
   height: 26px;
			width:281px;
			background:url('get_Involved_Links.png') no-repeat 0px 0px;
			float: left;
}


.signup:hover{
		background:url('get_Involved_Links_Hover.png') no-repeat 0px 0px;
}
.campaign{
 margin: 10px 8px 0px 0px;
    display:block;
   height: 26px;
			width:136px;

			float: left;
			background:url('get_Involved_Links.png') no-repeat 0px -36px;
}
.campaign:hover{

			background:url('get_Involved_Links_Hover.png') no-repeat 0px -36px;
}

.volunteer{
 margin: 10px 0px 0px 0px;
    display:block;
   height: 26px;
			width:136px;
			background:url('get_Involved_Links.png') no-repeat right -36px;
			float: right;

}
.volunteer:hover{

			background:url('get_Involved_Links_Hover.png') no-repeat right -36px;


}
.donate{
 margin: 10px 0px 0px 0px;
    display:block;
   height: 26px;
			width:281px;
			background:url('get_Involved_Links.png') no-repeat 0px bottom;
			float: right;

}
.donate:hover{

			background:url('get_Involved_Links_Hover.png') no-repeat 0px bottom;


}

/*ali get ivolved slider*/
#slider_get {
  width: 960px;
  margin: 0 auto;
  position: relative;
  float:left;
}
#slider_get ul{
  list-style:none;
  float:left;
  width:325px;

}
.scroll {
  height: 250px;
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */

  background: #FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom;
}

.scrollContainer div.panel {
  padding: 20px;
  height: 210px;
  width: 580px; /* change to 560px if not using JS to remove rh.scroll */
}
.scrollButtons {
  position: absolute;
  top: 150px;
  cursor: pointer;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}

/*pop up*/



#overlayEffect
{
	display:none;
	position:fixed;
	opacity:0.7;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	z-index:1;
}
#popupContainer
{
	position:fixed;
	left:50%;
	top:50%;
	width:500px;
	background:url('body_bg.jpg') repeat-x left bottom #e5e5e5;
	border:5px solid #cecece;
	z-index:2;
	padding:10px;
	border: 1px solid rgba(33, 33, 33, 0.6);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}
#popupContainer h1
{
	text-align:left;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	color:#090;
	font:22px;

	padding: 5px 2px;
	margin-bottom:10px;
}
#popupContainer p
{
	font-size:16px;
	line-height:1.4;
}
#close
{
	background:url('x.png') no-repeat center center;
	cursor:pointer;
	width:25px;
	height:26px;
	position:fixed;
	z-index:3200;
	position:absolute;
	top:-25px;
	right:-22px;
}
#button
{
	text-align:center;

}
.hidden { display:none; }
