#image_slider{
				float:left;
				display:block;
  			width:100%;
				height:144px;
  			border-top:5px solid #c0dade;
 				
				background:url('sliderwrapper_Bg.png')repeat-x top left;
				

}


#children_slider{
  width:960px;
  margin:0 auto;
	display:block;
}
#children{
  width:840px;
  display:block;
  margin-top:10px;
  float:left;
  margin-right:10px;
  margin-left:10px;
	height:134px;
}

.prev {
    float: left;
    width: 35px;
		height: 94px;
    margin: 22px 0 28px 0;
		display: block;

}
.previous_image{
			display:block;
			height: 94px;
			width: 22px;
			border-top-left-radius: 5px;
			-moz-border-top-left-radius: 5px;
			-webkit-border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			-mozborder-bottom-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			float:left;
			background:url('previous_Btn.png') no-repeat center #c6c6c6;
}

.previous_image:hover{
  background-color: #b3b3b3;
}


.button_border{
			width:1px;
			height:94px;
			background-color:#c6c6c6;
			float:right;

}

.prev_image{
			float:left;
			margin: 45px 6px 37px 8px;
			display:block;
}


.next {
    float: left;
    height: 94px;
    margin: 22px 0 28px 0;
    width: 35px;
		display:block;

}

.next_image{
			display:block;
			height: 94px;
			width: 22px;
			border-top-right-radius: 5px;
			-moz-border-top-right-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			-mozborder-bottom-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			float:right;
			background:url('next_Btn.png') no-repeat center #c6c6c6;
}

.next_image:hover{
  background-color: #b3b3b3;
}



.next_image1{
   float:right;
	 margin: 45px 4px 5px 8px;
	 display:block;
}



.child_image {
    border: 3px solid #CFCFCF;
    float: left;
    height: 115px;
    margin: 0 0 0 21px;
    width: 149px;
		display: block;
}


.slide{
  border:5px solid #cfcfcf;
  width:143px;

}

*{
  margin:0;
  padding:0;
}





#children li {
margin-left:10px;
margin-right:10px;
width:153px;
height:124px;
display:block;
}

.imgname{
  top:-4px;
  position:absolute;
  width:153px;
  height:124px;
  overflow:hidden;
  background:rgba(0,0,0,0.3);
color:#fff;
cursor:pointer;
}

.imgname strong{
	font:bold 12px "arial";
color:#000;
float:left;
width:143px;
display:block;
padding:5px;
 background:rgba(255,255,255,0.7);
}


#children h2 {
font:normal 12px "arial";
float:left;
width:143px;
display:block;
padding:5px;
height:79px;
overflow:hidden;
}














