#image_slider{
				float:left;
				display:block;
  			width:100%;
				height:144px;
  			border-top:5px solid #c0dade;
 				border-bottom:5px solid #c0dade;
				background:url('sliderwrapper_Bg.png')repeat-x top left;
				box-shadow: 0px 0px 10px 0px #888888;
}


#children_slider{
  width:960px;
  margin:0 auto;
	display:block;
}
#children{
  width:860px;
  display:block;
  float:left;

}

.prev {
    background: url("vertical_line.png") no-repeat  right bottom;
    float: left;
    width: 30px;
		height: 94px;

    margin-top:25px;
    margin-right: 20px;
		display: block;

}
.previous_image{
			display:block;
			background-color: #c6c6c6;
			height: 94px;
			width: 22px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

}

.prev_image{
			float:left;
			margin: 45px 6px 37px 8px;
			display:block;
}


.next {

    background: url("vertical_line.png") no-repeat scroll left bottom transparent;
    float: right;
    height: 94px;
    margin: 22px 0 28px 0;
    width: 40px;
		display:block;
		margin-left: 20px;
}
.class="border_img"{
border:3px solid #ffffff;
width:141px;
height:116px;

}
.last_image{
			display:block;
			background-color: #c6c6c6;
			height: 94px;
			width: 22px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			float:right;
}


.next_image{
   float:right;
	 margin: 45px 4px 5px 8px;
	 display:block;
}






.child_image {
    border: 3px solid #CFCFCF;
    float: left;
    height: 115px;
    margin: 0 0 0 21px;
    width: 149px;
		display: block;
}




*{
  margin:0;
  padding:0;
}

.manyClass{
  height: 150px;
  margin:8px 0 0 0px;
  overflow: hidden;
  position:relative;
}

.manyClass li {
    float: left;
    height: 150px;
    list-style: none outside none;
     margin: 0 -25px 0 0;
    overflow: hidden;
    padding-top: 4px;
    width: 198px;
}

.img_name{
   z-index:1;
   top:100px;
}
/*...END OF children slider...*/
