.slide{
border:3px solid white;
}


*{
  margin:0;
  padding:0;
}


.anyClass{
  height: 144px;
  
  overflow: hidden;
  position:relative;
  visibility: visible;
  overflow: hidden;
   z-index: 2;
    left: 0px;
    width: 881px;

}

.manyClass li {
    float: left;
    height: 120px;
    list-style: none outside none;
     padding: 12px 39px 12px 16px;
    overflow: hidden;
    
    width: 120px;

}
.border_img{
 border:3px solid white;
}

.img_name{
   z-index:1;
   top:100px;
}

#children{
			display: block;
			width: 860px;
			float:left;
			
}
