.slide{
border:3px solid white;
}


*{
  margin:0;
  padding:0;
}


.anyClass{
  height: 144px;
  margin:0 0 0 34px;
  overflow: hidden;
  position:relative;
  visibility: visible;
  overflow: hidden;
   z-index: 2;
    left: 0px;
    width: 860px;

}

.manyClass li {
    float: left;
    height: 144px;
    list-style: none outside none;
     margin: 8px -25px 0 0;
    overflow: hidden;
    padding-top: 4px;
    width: 198px;

}
.border_img{
 border:3px solid white;
}

.img_name{
   z-index:1;
   top:100px;
}
