

/*...NAVIGATION...*/
#navigation{
  width:100%;
  display:block;
  background:#fff;

  margin:10px 0 0 0;
}
#navigation_content{
 width:960px;
 margin:0 auto;
 height:126px;
}




.title_img{
				float:right;
				margin:20px 20px 0 0;
}



.donate_img{
    float:right;
    margin:20px 0 0 0;
}



#nav{
   background:url("menu_Bg.png") no-repeat;
   float: right;
   height: 103px;
   display:block;
   width:508px;
}


#nav ul{
		display:block;
		list-style: none;
		margin:30px 0 0 18px;
		width:auto;
		float:left;
}

.sidebar_content a:hover{
			background:url('hoverleft2.png') no-repeat 0 50%;
			
}

#nav a:hover span{
			background:url('hoverright.gif') no-repeat 100% 50%;

			}

.select{
	background:url('hoverleft2.png') no-repeat 0 50%;
float:left;
}
.select1{	
	background:url('hoverright.gif') no-repeat 100% 50%;

	float:left;
color:#767676;
	}



#nav a, #nav span{
			display:block;
			float:left;
			text-decoration:none;

}
#nav span{
	padding:6px 12px;
}



#wrapper,#main_activities{
					width: 960px;
					margin: 0 auto;
}

#nav li{
		display: inline;

}


#nav a{
		display:block;
    color:#767676;
    font:normal 12px 'arial',serif;
		margin:0 0px 0 7px;

}
#nav li:last-child span{
padding:6px 11px 6px 10px;
}

#sub_nav{
	display:block;
	float:left;
	width:100%;

	height:50px;
}

#sub_nav ul{
	display:block;
	list-style:none;
	float:right;
}


#sub_nav li{
	display:inline;
	float:right;
}

#sub_nav a{
	text-decoration:none;
	font:12px "arial";
	display:block;
	color:#767676;
	padding:6px 12px;
	background-color:#40B4E3;
	border-radius:5px;
	
	
}
#sub_nav a:hover{
	
	background-color:#2CB68C;
	
}




#sub_nav  span{
	
}


/*...END OF NAVIGATION...*/
