#news {
    background-color: #FFFFFF;
    display: block;
    float: left;
    display: block;
    height: 350px;
    width: 310px;
    margin: 0px 15px 0 0px;

}

.news_content{
	display:block;
	float:left;
	height:245px;
}

.news_image{
	height: 102px;
	width: 310px;
	float:left;
	display: block;
	margin-bottom:26px;
	display:block;
}




.image_tag{
	margin: 15px;
	display: block;
}

.news_text {
    float: right;
    width: 175px;
    display: block;
    margin:0 10px 0 0;
}

.strong{
		font-size:12px;
		color:#ee5e75;
		font-size: 12px;
		height:27px;
		overflow:hidden;
		display: block;

}

.strong h2{
 display:block;
 font:12px "arial";
}


.image{
   float:left;
   border:5px solid #e8e8e8;
   width:95px;
   height:92px;
   margin:0 0 0 10px;
	display: block;
}

.latest_news{
			font-family: "arial";
			font-size:11px;
			color: #7b7b7b;
			margin: 6px 0px 0 0;
			height:41px;
			overflow:hidden;
			display: block;
			text-align:justify;
}

.read_more{
		float:right;
		 font: 9px "arial";
		display:block;
		padding:20px 10px 0 0;
}

.read_more a:hover{
			color:#FF0000;
			text-decoration:underline;
}

.read_more a{
			color: #ee5e75;
			text-decoration:none;
}


.freinds {
    float: left;
    height: 100px;
    width: 95px;
		margin: 20px;
		display: block;
}


/* css of pagination */

.pagination{
	display:block;
	float:right;
	width:auto;
	margin:19px 10px 0 0;
	color:	#A52A2A;
}

.pagination a{
	color:#f36363;
}
