#main_wrapper{
    width:100%;
}





/*...NAVIGATION...*/
#navigation{
  width:100%;
  display:block;
  background:#fff;
  height:100px;
  margin:30px 0 0 0;
}
#navigation_content{
 width:960px;
 margin:0 auto;
}
#main_nav{

    position:relative;

}




.title_img{
				float:right;
				margin:8px 20px 0 0;
}



.donate_img{
    float:right;
    margin:20px 0 0 0;
}



#nav{
   background:url("menu_Bg.png") no-repeat;

   float: right;
   height: 103px;
   margin-right: 20px;
   width:508px;
}


#nav ul{
		list-style: none;
		margin:30px 0 0 0;
}

#nav li{
		display: inline;
		padding:15px 0 0 25px;
}
#nav a{
		text-decoration: none;
    color:#767676;
    font:bold 13px 'arial',serif;

}

#nav a:hover{
		color: #e03d42;
}


/*...END OF NAVIGATION...*/


.fb_image {
    padding: 15px 0 10px 14px;
}

#facebook_like,#news,#get_involved {
    background-color: #FFFFFF;
    box-shadow: 0 0 13px 0 #767676 inset;
    display: block;
    float: left;
    height: 360px;
    width: 300px;
		margin:30px 0 0 20px;
}



.get_involved_title{
    border-bottom: 4px solid #CFCFCF;
    padding: 15px 0 10px 25px;
}

#get_involved_content{
		background-color: #FFFFFF;
    display: block;
    float: left;
    height: 360px;
    width: 300px;

}

#get_involved_image{
						background:url('aaa.png') no-repeat;
}

#get_involved_text {
    background: none repeat scroll 0 0 #FFFFFF;
    height:150px;
    opacity: 0.6;
    width: 300px;
}







#get_involved_text p {

    color: #41B2DE;
    font-size: 18px;
    padding: 0 25px 10px;
    text-align: justify;
}


.signup{
   margin:10px 0 0 5px;
}



.sub_content{
			height: 360px;
			width:300px;
			background-color: #deeff6;
			float: left;
}



/*------css of footer------*/


#footer{
  float:left;
  display:block;
  width:100%;
  height:158px;
	background:#393939;
	border-top:5px solid #c7c5c6;
	margin:30px 0 0 0;
}


#footer_content{
  margin:0 auto;
  width:960px;
}


.content_title{
				padding: 10px 0 0 20px;

}
.color_red{
						height:45px;
						width: 55px;
						background-color:#f06b6e;
						float: right;

}

.color_blue{
						height:45px;
						width: 55px;
						background-color:#42b2e0;
						float: right;

}

.color_yellow{
						height:45px;
						width: 55px;
						background-color:#e0b542;
						float: right;
}

#main_footer ul{
  list-style:none;
	float:left;
	width:200px;
}


#main_footer a{
  color:#909090;
  font-size:12px;
	text-decoration:none;
	margin:10px 0 0 0;
}



.prev{
   float:left;
	 margin:10px 0 0 20px;
}

#main_footer .text{
  font-size:13px;
  color:#b8b4a8;
	font-weight:bold;
}


#copyright_footer{
    float:left;
	  display:block;
	  width:100%;
		background:#1b1b1b;
		height:50px;
}


#sub_footer{
   margin:0 auto;
	 width:960px;
}


#sub_footer span{
   color:#3c3c3c;
	 font-size:12px;
	 font-weight:bold;
}


#powered_by,#owner,#contact{
   width:285px;
	 display:block;
   float:left;
	 padding:16px;
}


#activities{
		display: block;
		float: left;
    margin: 36px 30px 0 20px;
    width: 270px;
		border: 5px;

}


#powered_by a{
  text-decoration:none;
  color:#3c3c3c;
}



.sub_activities{
			display: block;
			height: 360px;
			width:300px;
			background-color:#fff;
			float: left;
			box-shadow: inset 0 0 10px

}

.activities_text h1 {
    border-bottom: 4px solid #CFCFCF;
    font-size: 24px;
    text-align: center;
}


#powered_by a:hover{
 color:#fff;
}


.site{
  float:left;
}


.img{
  margin:0 0 0 28px;
}
