#main_wrapper{
    width:100%;
}





.fb_image {
    padding: 15px 0 10px 14px;
}

#facebook_like,#news,#get_involved {
    background-color: #FFFFFF;
    box-shadow: 0 0 13px 0 #767676 inset;
    display: block;
    float: left;
    height: 360px;
    width: 300px;
margin:30px 0 0 20px;
}



.get_involved_title{
    border-bottom: 4px solid #CFCFCF;
    padding: 15px 0 10px 25px;
}

#get_involved_content{
		background-color: #FFFFFF;
    display: block;
    float: left;
    height: 360px;
    width: 300px;
		
}

#get_involved_image{
						background:url('aaa.png') no-repeat;
}

#get_involved_text {
    background: none repeat scroll 0 0 #FFFFFF;
    height:150px;
    opacity: 0.6;
    width: 300px;
}


#get_involved_text p {
 
    color: #41B2DE;
    font-size: 18px;
    padding: 0 25px 10px;
    text-align: justify;
}
.signup{
   margin:10px 0 0 5px;
}




/*------css of footer------*/


#footer{
  float:left;
  display:block;
  width:100%;
 height:158px;
background:#393939;
border-top:5px solid #c7c5c6;
margin:30px 0 0 0;
}
#footer_content{
  margin:0 auto;
 width:960px;
}
#main_footer ul{
  list-style:none;
float:left;
width:200px;
}

#main_footer a{
  color:#909090;
  font-size:12px;
text-decoration:none;
margin:10px 0 0 0;
}
#main_footer .text{
  font-size:13px;
  color:#b8b4a8;
font-weight:bold;
}
#copyright_footer{
    float:left;
  display:block;
  width:100%;
background:#1b1b1b;
height:50px;
}
#sub_footer{
   margin:0 auto;
width:960px;

}
#sub_footer span{
   color:#3c3c3c;
font-size:12px;
font-weight:bold;
}
#powered_by,#owner,#contact{
   width:285px;
 display:block;
  float:left;
padding:16px;
}
#powered_by a{
  text-decoration:none;
  color:#3c3c3c;
}
#powered_by a:hover{
 color:#fff;
}
.site{
  float:left;
}
.img{
  margin:0 0 0 28px;
}
