#site_map_content{
	display:block;
	margin:0 auto;
	width:960px;
}

#site_map{
	display:block;
	float:left;
	width:960px;

}

#site_map h1{
	display:block;
	float:left;
	font:30px "arial";
	color:#777978;
	text-transform:uppercase;
}

#site_map_home{
		display:block;
		float:left;
}

.site_map_home_content{
	display:block;
	border-top:1px solid #777978;
	border-bottom:1px solid #777978;
	float:left;
	width:960px;
margin:10px 0 0 0px;
}

.site_map_home_content ul{
		list-style:none;
		margin:0px 0 0 50px;
}


.site_map_home_content ul h2{
	font-size:20px;
	font-weight:bold;
	color:#777978;
}



.site_map_home_content a{
	text-decoration:none;
	color:#777978;
	font:14px/18px "arial";
}


.site_map_home_content ul .site_vision{
	font:12px "arial";
}


.site_map_home_content a:hover{
	text-decoration:underline;
}
