

*{
	margin:0;
	padding:0;
}
body{
	
	font-family:"helvetica","Myriad Pro","Trebuchet MS", sans-serif;
	font-size:12px;
}
.cn_wrapper{
	margin:0px auto;
	width:960px;
	height:655px;
	position:relative;
	
	overflow:hidden;
	
	

	background-color:#fff;
	-moz-box-shadow:0px 0px 28px #bdbdbd;
	-webkit-box-shadow:0px 0px 28px #bdbdbd;
	box-shadow:0px 0px 28px #bdbdbd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.cn_wrapper h1{
	font-size:20px;
	text-transform:uppercase;
}
.cn_wrapper h2{
	font-size:25px;
	border-bottom:1px solid #a6a3a3;
	padding-bottom:4px;
	text-transform:uppercase;
}
.cn_preview{
	width:470px;
	height:609px;
	position:absolute;
	top:15px;
	left:20px;
}
.cn_list{
	width:430px;
	height:633px;
	position:absolute;

	left:20px;
}
.cn_preview{
	left:465px;
}


.cn_content{
			top:652px;/*5*/	
			width:470px;
			position:absolute;
			height:609px;
}
.cn_content img{
	
}
.cn_date{
	position:absolute;
	bottom:30px;
	right:8px;
	font-size:11px;
}
.cn_category{
	position:absolute;
	bottom:30px;
	left:8px;
	font-size:11px;
	padding:1px 3px;
	background:#ccc;
	border:1px solid #ddd;
	color:#000;
	text-shadow:-1px 0px 1px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.cn_content p{
	
	margin-top:10px;
	overflow:hidden;
}
a.cn_more{
	position:absolute;
	height:26px;
	padding:20px 0;
	left:0px;
	bottom:0px;
	width:466px;
	color:#fff;
	text-align:center;
	font-size:28px;
	letter-spacing:1px;
	
	text-transform:uppercase;
	text-decoration: none;
	
	outline:none;
	cursor:pointer;
	background-color: #42b2e0;
	background-image:
		-moz-linear-gradient(
			top,
			rgba(255,255,255,0.25),
			rgba(255,255,255,0.05)
		);
	background-image:
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(255,255,255,0.25)),
			color-stop(1, rgba(255,255,255,0.05))
		);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
a.cn_more:hover{
	color: #011c44;
	text-shadow: 1px 1px 1px #ccdffc;
}
.cn_item{
	
	cursor:pointer;
	position:relative;
	overflow:hidden;
	height:98px;
	color:#fff;
	padding:10px;
	margin:20px 0px 0px 0px;
	
	background:#c6c6c6;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.cn_item:hover, .selected{
	
	background-color: #42b2e0;
	
}
.cn_item:hover h2,
.cn_list .selected h2,
.cn_item:active h2{
	border-color:#138ec1;
}
.cn_item:hover p,
.cn_list .selected p,
.cn_item:active p{
	border-color:#5ac9f7;
	color:#fff;
}
.cn_item:active {
	color: #011c44;
	text-shadow: 1px 1px 1px #ccdffc;
}
.cn_list p{
	height:74px;
	padding-top:2px;
	overflow:hidden;
	border-top:1px solid #e0dcdd;
line-height:18px;
}
.cn_nav{
	width:430px;
	height:66px;
	position:absolute;
	bottom:0px;
	margin:20px 0 0 0;
}
a.cn_next, a.cn_prev{
	float:left;
	height:66px;
	width:70px;
	background-color:#fee14e;
	background-position:center center;
	cursor:pointer;
	outline:none;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}
a.cn_next{
	background-image:url('next_Btn.png');
}
a.cn_prev{
	margin-right:5px;
	background-image:url("prev_Btn.png");
}
.cn_nav a:hover{
	background-color:#101010;
}
.cn_nav a:active{
	margin-top:1px;
	background-color:#000;
}

.cn_page{
	display:none;
}
.cn_item p{
color:#707070;

}





#top_border{
			display:block;
			width: 470px;
			height: 23px;
			background-color: #f36363;
}

#bold_image{
			display:block;
			width: 470px;
			height:290px;
			margin: 20px 0 0 0;
			
}

.alisha_image{
			display:block;
			width: 470px;
			height:290px;
}



#bold_content{
				display:block;
				width: 470px;
				height: 140px;
				padding: 30px 0 0 0;
				
}

#bold_content h1{
				display:block;
				
				font-size: 16px;
				color:#f36363;
}










