#main_content{
					width: 960px;
					margin: 0 auto;
					height:446px;
					display:block;
}




#upper_content{
   width:100%;
	 float:left;
	 display:block;
   background:url('upper_Content_Wrapper_Bg.png') repeat-x left;
	 height:446px;
	 overflow:hidden;
}

.content {

    display: block;
    float: left;
    height: 348px;

    margin: 30px 30px 0 0;
    width: 300px;

	 background:url('container_1_Bg.png') repeat-x left top;
}




.upper_image{
				height:47px;
display:block;
float:left;
width:100%;

margin:0 0 20px 0;

}


.content_title{
				padding: 19px 0 0 10px;
				float: left;

}

.more_red{
		float: right;
		height: 47px;
		width:50px;
display:block;
background:url("more_1_Bg.png") no-repeat left top;
}
.more_red:hover{
background:url("more_Hover.png") no-repeat left top;
}


.more_red{
		float: right;
		height: 47px;
		width:50px;
display:block;
background:url("more_1_Bg.png") no-repeat left top;
}
.more_red:hover{
background:url("more_Hover.png") no-repeat left top;
}
.more_blue{
		float: right;
		height: 47px;
		width:50px;
display:block;
background:url("more_2_Bg.png") no-repeat left top;
}
.more_blue:hover{
background:url("more_Hover.png") no-repeat left top;
}
.more_yellow{
		float: right;
		height: 47px;
		width:50px;

display:block;

background:url("more_3_Bg.png") no-repeat left top;
}
.more_yellow:hover{
background:url("more_Hover.png") no-repeat left top;
}
.content_image{
    border: 10px solid #FFFFFF;
    height: 121px;
		float:left;
    margin: 0px 0 20px 10px;

    width: 260px;

}


.content_text {
  	background:url('container_2_Bg.png') repeat-x left top;
    margin:0px 0 0 10px;

    width: 280px;

height:120px;
		float:left;
		display:block;

}

.content_text p{
						padding: 0px 10px 10px 10px;
						text-align: justify;
						color: #777978;
						font:normal 12px/18px "arial";
float:left;
		display:block;
height:84px;
overflow:hidden;
}
