.what_we_profile{
	display:block;
	float:left;
	width:918px;
	margin:20px 0px 20px 0px;
}

.what_we_do_content{
		display: block;
		width:918px;
		float:left;
		border:1px solid #40B4E3;
		border-top:none;
}


.what_we_text{
		display: block;
		float:left;
		width:598px;
		margin: 0 0 0 0px;
		overflow:hidden;
		min-height:205px;
		border-bottom:5px solid #C0DADE;
}

.what_we_text h1{
		 color: #F36363;
    display: block;
    float: left;
    font-size: 38px;
    font-weight: bold;
    position: relative;
    top: -8px;
    width: 100%;
}

.what_we_text p{
		color: #777978;
    display: block;
    float: left;
    font: 13px/18px 'Arial';
    width: 598px;
}

.what_we_image{
			display:block;
			float:left;
			width:300px;
			margin:0 20px 0 0;
			
}

.what_we_name{
		width:290px;
		height:200px;
		display:block;
		border:5px solid #C0DADE;
		
}

.whatwedoimage{
	border:5px solid #C0DADE;
}

.whatwedotitle{
	margin: 0px 0px 0px 20px;
	font-size:38px;
	display:block;
	font-weight:bold;
}

.whatwedodesc{
	margin: 0px 0px 0px 20px;
	width:588px;
}

#whatwedo div{
	float:left
}
.what_we_do_text{
   height:205px;
   border-bottom:5px solid #CODADE;
}
.whatwedocontainer{
	width:100%;
	margin:20px 0;
}
.color_0{
	color:#f36363;
}
.color_1{
	color:#fcc956;
}
.color_2{
	color:#40b4e3;
}
