.what_we_profile{
	display:block;
	float:left;
	width:918px;
	padding:20px;
}

.what_we_text{
		display: block;
		float:right;
		width:588px;
		margin: 0 0 0 0px;

}
.title_focus{
width:50px;
height:50px;
display:block;
float:left;

}
.what_we_text h1{
		display: block;
		color:#777978;
		font-size:45px;
		font-weight:bold;
margin:0 0 0 75px;
}

.what_we_text p{
		display: block;
		color:#fff;
		font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 15px;
	
margin:20px 0 0 0;
background-color:#FCC956;
width:558px;
height:111px;
padding:15px 15px 15px 15px;
}

.what_we_image{
			display:block;
			float:left;
width:300px;
margin:0 30px 0 0;
			
}

.what_we_name{
		width:300px;
		height:200px;
		display:block;
		
}
.griha_border_red{
float:left;
width:300px;
		height:20px;
		display:block;
background-color:#f36363;
}
.griha_border_blue{
float:left;
width:300px;
		height:20px;
		display:block;
background-color:#40B4E3;
}
.griha_border_yellow{
float:left;
width:300px;
		height:20px;
		display:block;
background-color:#FCC956;
}

