

<div class="anyClass" >
    <ul class="resize">
        <li><a href="#"><%=image_tag"child3.png" ,:class=>"slide"%></a>
          <div class='img_name'>
             <p>name 1</p>
             <p>asdfasdf</p></div>
        </li>
        <li><a href="#"><%=image_tag"child12.png", :class=>"slide" %></a>
          <span class='img_name'>name 2</span>
        </li>
        <li><a href="#"><%=image_tag "child13.png", :class=>"slide" %></a>
          <span class='img_name'>name 3</span>
        </li>
        <li><a href="#"><%=image_tag"child_11.png" , :class=>"slide" %></a>
          <span class='img_name'>name 4</span>
        </li>
     </ul>
</div>
