


<div class="anyClass" >
    <ul class="resize">
        

          
<li><a href="#"><%=image_tag"we_All.jpg", :class=>"slides",:id=>"banner_slide" %></a>
        
        </li>

        <li><a href="#"><%=image_tag"Sangeeta.jpg", :class=>"slides",:id=>"banner_slide" %></a>
        
        </li>
        <li><a href="#"><%=image_tag "Rashila.jpg", :class=>"slides",:id=>"banner_slide" %></a>
          
        </li>


        
     </ul>
</div>
</div>
