<div id="banner">
<div class="anyClass" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 891px;">
    <ul class="resize">
        <li><a href="#"><%= image_tag  "child3.png",:class=>"slide" %></a></li>

        <li><a href="#"><%= image_tag "child12.png" ,:class=>"slide" %></a></li>

        <li><a href="#"><%= image_tag "child13.png" ,:class=>"slide" %></a></li>

        <li><a href="#"><%= image_tag "child_11.png" ,:class=>"slide" %></a></li>

     </ul>
</div>

</div>
