<!--popup content-->
	      <div id="popupContainer" class="hidden">
	        	<a id="close" class="hidden" title="close popup"></a>
		         <h1 class="newsletter_signup">Newsletter Signup</h1>
			<div id="newsletter_text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
						<div class="form_block">
								<div class="form_holder">
								    <label for="name">Name :</label>
										<input type="text" name="name" class="form_input">
								</div>
								<div class="form_holder">
										<label for="email">Email :</label>
										<input type="text" name="email" class="form_input">
							</div>
							<div class="form_holder">
				    	     <label for="comment">Comment :</label>
									<textarea type="text" class="textarea"></textarea>
							</div>
							<div class="form_holder">

									<input type=""  class="submit_Btn">
						</div>
				</div>


	  </div>
	       <div id="overlayEffect">
         </div>
  <!--end popup content-->
