<div id="footer">
	<div id="footer_content">
        <div id="main_footer">
				   <ul>
                <li ><a href="#" class="text">About Us</a></li>
                <li><a href="#">Our Amazing Story</a></li>
                 <li><a href="#">Our Children</a></li>
                 <li><a href="#">Board Members</a></li>
           </ul>
           <ul>
                <li ><a href="#" class="text">News And Events</a></li>
                <li><a href="#">Our Amazing Story</a></li>
                 <li><a href="#">Our Children</a></li>
                 <li><a href="#">Board Members</a></li>
           </ul>
           <ul>
                <li ><a href="#" class="text">How You Can Help</a></li>
                <li><a href="#">Our Amazing Story</a></li>
                 <li><a href="#">Our Children</a></li>
                 <li><a href="#">Board Members</a></li>
           </ul>
           <ul>
             <li><a><%= image_tag "socialNetwork_Btn.png" %></a></li>
                
           </ul> 
				</div>	 <!--end of main_footer-->
  
  </div>	 <!--end of main_content-->
<div id="copyright_footer">
       <div id="sub_footer">
             <div id="powered_by">
                  <span>Powered By:<a href="http://www.revol-tech.com.np">Revol-Tech Nepal</a></span>
              </div>	 <!--end of powered_by-->
              <div id="owner">
                   <span>2012 Malai Nabirseu Bal Griha</span>
              </div>		<!--end of owner-->
              <div id ="contact">
                   <div class="site">
                          <%= image_tag "policy_Icon.png",:class=>"img" %>
                           <span>Policy</span>
                    </div>	<!--end of site-->
                    <div class="site">
                          <%= image_tag "arrow_Icon.png",:class=>"img"  %>
                           <span>Site Map</span>
                    </div>	<!--end of site-->
                    <div class="site">
                          <%= image_tag "arrow_Icon.png",:class=>"img"  %>
                           <span>Contact</span>
                    </div>	<!--end of site-->
           
      			 </div>		<!--end of contact-->
			</div>	<!--end of sub_footer-->	
</div>	<!--end of copyright_footer-->
</div>	<!--end of footer-->

