<div id="footer">
	<div id="footer_content">
        <div id="main_footer">
           <div id="footer_link">
				   	<ul>
                <li><a href="pages/about_us" class="text">About Us</a></li>
                <li><a href="pages/children">Our Children</a></li>
                 <li><a href="pages/about_us">Board Members</a></li>
                 <li><a href="pages/about_us">Our History</a></li>
           </ul>
           <ul>
                <li><a href="news_events/news" class="text">News And Events</a></li>
                <li><a href="news_events/news_details">Latest News</a></li>
                 <li><a href="news_events/events_details">Upcoming Events</a></li>

           </ul>
           <ul>
                <li ><a href="pages/get_involved" class="text">How You Can Help</a></li>
                <li><a href="pages/get_involved">Compaign</a></li>
                 <li><a href="pages/get_involved">Volunteer</a></li>
                 <li><a href="pages/get_involved">Fundraise</a></li>
								<li><a href="pages/donate">Donate</a></li>
           </ul>

           </div>
           <div id="social_network">
            <a class="facebook" href="http://www.facebook.com/pages/Malai-Na-Birseu-Bal-Griha/155262331260057"></a>
<a class="twitter" href="#"></a>

           </div>
				</div>	 <!--end of main_footer-->

  </div>	 <!--end of main_content-->
<div id="copyright_footer">
       <div id="sub_footer">
             <div id="powered_by">
                  <span>Powered By: <a href="http://www.revol-tech.com.np">Revol-Tech Nepal</a></span>
              </div>	 <!--end of powered_by-->
              <div id="owner">
                   <span>2012 Malai Nabirseu Bal Griha</span>
              </div>		<!--end of owner-->
              <div id ="contact">
                   <div class="site">
                          <%= image_tag "policy_Icon.png",:class=>"img" %>
                           <a href="#"><span> <a href="#">Policy</a></span>
                    </div>	<!--end of site-->
                    <div class="site">
                         <%= image_tag "arrow_Icon.png",:class=>"img"  %>
                          <span> <a href="pages/site_map">Site Map</a></span>
                    </div>	<!--end of site-->
                    <div class="site">
                      <%= image_tag "arrow_Icon.png",:class=>"img"  %></a>
                              <span><a href="pages/contact">Contact</a></span>
                    </div>	<!--end of site-->

      			 </div>		<!--end of contact-->
			</div>	<!--end of sub_footer-->
</div>	<!--end of copyright_footer-->
</div>	<!--end of footer-->
