				<div id="get_involved">
							<div id="get_involved_content">
									<div class="get_involved_title">
											<%= image_tag "getinvolvedTitle.png" %>

									</div>	<!--end of get_involved_title-->
									<div id="get_involved_image">
										<div id="get_involved_text">
											<p>YOUR SUPPORT MEANS WE CAN HELP THE NEPAL'S MOST VULNERABLE AND NEGLECTED CHILDREN AND YOUNG PEOPLE</P>
										</div>		<!--end of get_involved_text-->
									<div class="get_involved_by">

	<div id="wrap">

	<div id='content'>
 	<a href="#"	class="signup" id="button"></a>

		</div>
</div>
<%= render 'newsletter'%>



										<a href="/pages/get_involved" class="campaign" ></a>

										<a href="/pages/get_involved" class="volunteer" ></a>


										<a href="donate"  class="donate" ></a>

									</div>		<!--end of get_involved_by-->
									</div>		<!--get_involved_image-->
							</div>	<!--end of get_involved_content-->
				</div>		<!--end of get_involved-->
