				<div id="get_involved">
							<div id="get_involved_content">
									<div class="get_involved_title">
											<%= image_tag "getinvolvedTitle.png" %>

									</div>	<!--end of get_involved_title-->
									<div id="get_involved_image">
										<div id="get_involved_text">
											<p>YOUR SUPPORT MEANS WE CAN HELP THE NEPAL'S MOST VULNERABLE AND NEGLECTED CHILDREN AND YOUNG PEOPLE</P>
										</div>		<!--end of get_involved_text-->
									<div class="get_involved_by">

	<div id="wrap">

	<div id='content'>
 	<a href="#"	class="signup" id="button"></a>

		</div>
</div>
<!--popup content-->
	<div id="popupContainer" class="hidden">
		<a id="close" class="hidden" title="close popup"></a>
		<h1>Title goes here</h1>
		<p id="contactArea">
        	Some content goes here
			<br/> <br/>
            It can hold a form or a confirm popup
            <br/><br/><br/>
			A tutorialpot demo with love
		</p>
	</div>
	<div id="overlayEffect">
    </div>
  <!--end popup content-->



										<a href="/pages/get_involved" class="campaign" ></a>

										<a href="/pages/get_involved" class="volunteer" ></a>


										<a href="donate"  class="donate" ></a>

									</div>		<!--end of get_involved_by-->
									</div>		<!--get_involved_image-->
							</div>	<!--end of get_involved_content-->
				</div>		<!--end of get_involved-->
