<div id="image_slider">
	<div id="children_slider">

        <div class="prev">
						<div class="previous_image"	>
                  <a href="#"><%= image_tag "previous_Btn.png",:class=>"prev_image" %></a>
						</div>
				</div>
				<div id="children">
						<div class="manyClass" >
    					<ul style= "width:2000px;">
    					<div class="border_img">
        				<% @children.each do|t| %>
	                   <li><a href="#"><%= image_tag "#{t.child_image}",:width=>"141",:height=>"116p" %></a></li>
	               <% end %>


               </ul>
						</div>
				</div>
				<div class="next">
						<div class="last_image">
								<a href="#"><%= image_tag "next_Btn.png",:class=>"next_image" %></a>
						</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
