<div id="image_slider">
				<div id="children_slider">


					    <div id="children">

								
							<div class="prev">	
									<div class="previous_image"	>								
                      <%= image_tag "previous_Btn.png",:class=>"prev_image" %>
										</div>
							</div>
												<div id="children">
														<div class="anyClass" >
    														<ul style= "width:2000px;">
        															<% @children.each do|t| %>
	   <li><%= image_tag "#{t.child_image}",:class=>"border_img",:width=>"141",:height=>"116" %></li>
	                    <% end %>

															 </ul>
													</div>
													<div class="next">
															<div class="last_image">
																	<%= image_tag "next_Btn.png",:class=>"next_image" %>
															</div>
													</div>
    				</div>   <!--end of children-->
			</div>		<!--end of children_slider-->
</div>		<!--end of image_slider-->	
