
<div id="image_slider">
	<div id="children_slider">

        <div class="prev">
						<div class="previous_image"	>
                  <a href="#"><%= image_tag "previous_Btn.png",:class=>"prev_image" %></a>
						</div>
				</div>

				<div class="next">
						<div class="last_image">
								<a href="#"><%= image_tag "next_Btn.png",:class=>"next_image" %></a>
						</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
