<div id="lower_content">
     <div id="sub_lower_content">
				 <div id="facebook_like">
							<div class="fb_image">
									<%= image_tag "likefbtittle.png" %>
							</div>
              <div id="facebook_content">
              </div>
				 </div>


<%= render 'get_involved'%>
 <%= render 'news' %>




</div>
</div>
