<div id="navigation">
   <div id="navigation_content">
               <div id="main_nav">
									<a href="/pages/donate"><%= image_tag "donate.png",:class=>"donate_img"%></a>
                     <div id="nav">
												<ul>
                     				<li>
																
																	<a href="/pages/index">home</a>
										 							<li><a href="/pages/about_us">about us</a>
										 							<li><a href="/pages/get_involved">get involved</a>
										 							<li><a href="/pages/events">events</a>
										 							<li><a href="/pages/children">children</a>
																
								      	</ul>

							      	</div>	<!--end of nav-->
                      <a href="/">  <%= image_tag "malai_logo.png",:class=>"title_img"%></a>

             	 </div><!--end of main_nav-->
	   </div>
</div>  
