
<div id="navigation">
   <div id="navigation_content">
               <div id="main_nav">
									<a href="/pages/donate"><%= image_tag "donate.png",:class=>"donate_img"%></a>
                     <div id="nav">
												<ul>
                     				<li>
																
																	<a href="/pages/index" class="active_nav"><span>home</span></a>
										 							<li><a href="/pages/about_us" class="active_nav"><span>about us</span></a>
										 							<li><a href="/pages/get_involved" class="active_nav"><span>get involved</span></a>
										 							<li><a href="/pages/events" class="active_nav"><span>events</span></a>
										 							<li><a href="/pages/children" class="active_nav"><span>children</span></a>
																
								      	</ul>

							      	</div>	<!--end of nav-->
							
                      <a href="/">  <%= image_tag "malai_logo.png",:class=>"title_img"%></a>

     
        	 </div><!--end of main_nav-->

	   </div>
</div>  




