
<div id="navigation">

   <div id="navigation_content">
               <div id="main_nav">
									<div style="float:right; display:block; width:170px; margin:21px 0 0 0;">
<a href="/pages/donate"><div class="nav_donate_Btn"></div></a>
<div id="sub_nav">
									<ul>
										<li><a href="/pages/contact"><span>contact us</span></a></li>
<li><a href="/pages/gallary"><span>gallery</span></a></li>
									</ul>
							</div>
</div>
                     <div id="nav">
											<ul class="sidebar_content">
                     				<li>

																	<a href="/pages/index"><span>home</span></a></li>
										 							<li><a href="/pages/about_us"><span>about us</span></a></li>
										 							<li><a href="/pages/get_involved"><span>get involved</span></a></li>
																	<li><a href="/pages/children"><span>children</span></a></li>
										 							<li><a href="/pages/events"><span>events</span></a></li>
										 							
																	<li><a href="/pages/what_we_do" style="margin:0px;"><span>what we do</span></a></li>

								      	</ul>

													
							      	</div>	<!--end of nav-->

<a href="/pages/index"><%= image_tag "malainabirseu_Logo.png", :id=>"logo" %></a>
                      <a href="/pages/index">  <%= image_tag "malai_logo.png",:class=>"title_img"%></a>


        	 </div><!--end of main_nav-->
							
	   </div>
</div>  
