<div id="upper_content">
    <div id="main_content">
			   <div class="content">
              
									 	<div class="upper_image">
															<%= image_tag "whoyouare.png",:class=>"content_title" %>
															<a class="more_red" href="#"></a>
										</div>		<!--end of upper_image-->
										<div class="content_image">	
										</div>	<!--end of content_image-->
										<div class="content_text">
				                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
																	 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	                  </div>	<!--end of content_text-->
			 		
 				</div>	 <!--end of content-->	
 				<div class="content">
           
									 	<div class="upper_image">
															<%= image_tag "whatwedo.png",:class=>"content_title" %>
															<a class="more_blue" href="#"></a>
										</div>
										<div class="content_image">	
										</div>	
										<div class="content_text">
				                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
																	 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	                  </div>	<!--end of content_text-->
			 					
 						</div>	 <!--end of content-->	
  <div class="content" style="margin:30px 0 0 0;">
             
									 	<div class="upper_image">
															<%= image_tag "howtohelp.png",:class=>"content_title" %>
															<a  class="more_yellow" href="#"></a>
										</div>
										<div class="content_image">	
										</div>	
										<div class="content_text">
				                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
																	 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	                  </div>	<!--end of content_text-->
			 	
 						</div>	 <!--end of content-->	
			</div>
 	</div>	<!--end of content-->	


