<!DOCTYPE html>
<html>
<head>
  <title>MalaiNabirseu</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>



</head>
<body class="home">

<%= yield %>


</body>
</html>
