<!DOCTYPE html>
<html>
<head>
  <title>MalaiNabirseu</title>


  <%= stylesheet_link_tag    "application","banner","children","footer","image_slider","lower_content","get_involved","navigation","news","news_events","pages","uppercontent" %>
  <%= javascript_include_tag "application" %>



  <%= csrf_meta_tags %>



</head>
<body class="home">

<%= yield %>


</body>
</html>
